{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"  href="{%  static  'css/frame.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/friends.css'  %}">
    <link href = "https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700" rel = "stylesheet" /><link href = "https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700" rel = "stylesheet" />
    <title>Friends</title>

</head>
<body>
  <div class="nav-w">
    <div class="nav-bar">
      <div class="logo">
        <p>Social Distribution</p>
      </div>
      <div class="options">
        <div class="profile"></div>
        <div class="username"><p></p></div>
      </div>
    </div>
  </div>
    <div class="main-body">
        <div class="vertical-nav">
            <div class="server-main">
                <div class="menu-list-wrap">
                  <div class="menu-list-profile"><p>John Doe</p></div>
                  <div class="menu-list-cell">
                      <div class="menu-l-img"><i class="material-icons" style="color:cadetblue"><a href="#"></a>stream</i></div>
                      <div class="menu-l-text"><p><a href="{% url 'home' %}" style="text-decoration:none;color:black">Stream</a></p></div>
                  </div>
                  <div class="menu-list-cell">
                      <div class="menu-l-img"><i class="material-icons" style="color:cornflowerblue">face</i></div>
                      <div class="menu-l-text"><p><a href="{% url 'profile' %}" style="text-decoration:none;color:black">Profile</a></p></div>
                  </div>
                  <div class="menu-list-cell">
                      <div class="menu-l-img"><i class="material-icons" style="color:coral">people</i></div>
                      <div class="menu-l-text"><p><a href="{% url 'friends' %}" style="text-decoration:none;color:black">Friends</a></p></div>
                  </div>


                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-aligner">
                <div class="friend-request-wrap">
                    <div class="friend-r-inner">
                        <div class="f-head">
                            <p>Friend requests</p>
                            <div class="arrow-down" id="request-arrow">
                                <i class="material-icons" style="color:rgba(0,0,0,0.50)">arrow_downward</i>
                            </div>
                        </div>
                        <div class="friend-r-body">
                            <table id="friend-request-table">
                                <tbody class="f-req-body">
                                    <tr>
                                        <td>sample friend request</td>
                                        <td><div class="accept_btn">Accept</div></td>
                                        <td><div class="decline_btn">Decline</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="friends-wrap">

                        <div class="f-head">
                            <p>Friends</p>
                            <div class="arrow-down" id="friends-arrow">
                                <i class="material-icons" style="color:rgba(0,0,0,0.50)">arrow_downward</i>
                            </div>
                        </div>
                        <div class="friends-w-body">

                                <table id="friends-table">
                                    <tbody>
                                        <tr>
                                            <td>sample friend</td>
                                            <td><div class="remove_btn">Remove</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                </div>

                <div class="friends-wrap">

                        <div class="f-head">
                            <p>Followers</p>
                            <div class="arrow-down  foll-w" id="friends-arrow">
                                <i class="material-icons" style="color:rgba(0,0,0,0.50)">arrow_downward</i>
                            </div>
                        </div>
                        <div class="friends-w-body">

                                <table id="friends-table">
                                    <tbody class="followers-body">
                                        <tr>
                                            <td>sample follower</td>
                                            <td><div class="remove_btn">Remove</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        var toggle_f_r = 0;
        $('#request-arrow').click(function() {
            if(toggle_f_r == 0){
                document.getElementsByClassName('friend-r-body')[0].style.display = "inline-block";
                document.getElementsByClassName('friend-request-wrap')[0].classList.add("open");
                document.getElementsByClassName('friend-r-inner')[0].classList.add("open");
                toggle_f_r = 1;
            }else{
                document.getElementsByClassName('friend-r-body')[0].style.display = "none";
                document.getElementsByClassName('friend-request-wrap')[0].classList.remove("open");
                document.getElementsByClassName('friend-r-inner')[0].classList.remove("open");
                toggle_f_r = 0;
            }

        });
        var toggle_f = 0;
        $('#friends-arrow').click(function() {
            if(toggle_f == 0){
                document.getElementsByClassName('friends-w-body')[0].style.display = "inline-block";
                document.getElementsByClassName('friends-wrap')[0].classList.add("open-f");
                toggle_f = 1;
            }else{
                document.getElementsByClassName('friends-w-body')[0].style.display = "none";
                document.getElementsByClassName('friends-wrap')[0].classList.remove("open-f");
                toggle_f = 0;
            }
        });

        var toggle_ff = 0;
        $('.foll-w').click(function() {
            if(toggle_ff == 0){
                document.getElementsByClassName('friends-w-body')[1].style.display = "inline-block";
                document.getElementsByClassName('friends-wrap')[1].classList.add("open-f");
                toggle_ff = 1;
            }else{
                document.getElementsByClassName('friends-w-body')[1].style.display = "none";
                document.getElementsByClassName('friends-wrap')[1].classList.remove("open-f");
                toggle_ff = 0;
            }
        });

        // $('#friends-table').on('click',".remove_btn",function(){
        //     var currrentRow = $(this).closest('tr');
        //     currrentRow.remove();
        //     var isTableEmpty = document.getElementById("friends-table").rows.length;
        //     if (isTableEmpty == 0){
        //         document.getElementsByClassName('friends-w-body')[0].style.display = "none";
        //         document.getElementsByClassName('friends-wrap')[0].classList.remove("open-f");
        //     }
        // });

        // GET Friend requests
        $.ajax({
          type: 'GET',
          url: 'http://localhost:8000/author/'+ localStorage.getItem('uuid') +'/inbox/', // TODO: should point to current user
          dataType: 'json',
        })
          .done(function(data){
            console.log(data);
            var fr_req = []; // IDs and dname of requesters

            for(el in data['items']){
              if(data['items'][el].type === "Follow"){
                var d = {
                  'id': data['items'][el].requester.id,
                  'displayName': data['items'][el].requester.displayName,
                }
                fr_req.push(d);
              }
            }

            formatAndAppendFriendRequests(fr_req);

          });

          function formatAndAppendFriendRequests(fr_req){
            for(fr in fr_req){
              $('.f-req-body').append(`
                <tr>
                    <td>${fr_req[fr].displayName}</td>
                    <td><div class="accept_btn">Accept</div></td>
                    <td><div class="decline_btn">Decline</div></td>
                </tr>
                `);
            }
          }

          // GET Followers
          $.ajax({
            type: 'GET',
            url: 'http://localhost:8000/author/'+ localStorage.getItem('uuid') +'/followers/', // TODO: should point to current user
            dataType: 'json',
          })
            .done(function(data){
              const followers = []; // IDs and dname of followers

              for(el in data['items']){
                var d = {
                  'id': data['items'][el].id,
                  'displayName': data['items'][el].displayName,
                }
                  followers.push(d);
              }

              formatAndAppendFollowers(followers);

              console.log('done');
            });

            function formatAndAppendFollowers(followers){
              console.log(followers);

              for(f in followers){
                $('.followers-body').append(`
                  <tr>
                      <td>${f.displayName}</td>
                  </tr>
                  `);
              }
            }




    </script>
</body>
</html>
