{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"  href="{%  static  'css/frame_.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/friends.css'  %}">
    <link href = "https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700" rel = "stylesheet" />
    <title>Friends</title>

</head>
<body>
   {% include "components/topnav.html" %}
    <div class="main-body">
        {% include "components/leftnav.html" %}

        <div class="content">
            <div class="content-aligner">
                <div class="friend-request-wrap">
                    <div class="friend-r-inner">
                        <div class="f-head">
                            <p>Follower requests</p>
                            <div class="arrow-down" id="request-arrow">
                                <i class="material-icons" style="color:rgba(0,0,0,0.50)">arrow_downward</i>
                            </div>
                        </div>
                        <div class="friend-r-body">
                            <table id="friend-request-table">
                                <tbody class="f-req-body">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="friends-wrap">

                        <div class="f-head">
                            <p>Friends</p>
                            <div class="arrow-down" id="friends-arrow">
                                <i class="material-icons" style="color:rgba(0,0,0,0.50)">arrow_downward</i>
                            </div>
                        </div>
                        <div class="friends-w-body">
                                <table id="friends-table">
                                    <tbody class="f-body">

                                    </tbody>
                                </table>
                        </div>
                </div>

                <div class="friends-wrap">

                        <div class="f-head">
                            <p>Followers</p>
                            <div class="arrow-down  foll-w" id="friends-arrow">
                                <i class="material-icons" style="color:rgba(0,0,0,0.50)">arrow_downward</i>
                            </div>
                        </div>
                        <div class="friends-ww-body">

                                <table id="followers-table">
                                    <tbody class="followers-body">

                                    </tbody>
                                </table>
                        </div>
                </div>


                <!-- Unlisted posts -->
                <div class="unlisted-wrap">

                        <div class="f-head">
                            <p>Unlisted posts</p>
                            <div class="arrow-down  foll-w-u" id="unlisted-arrow">
                                <i class="material-icons" style="color:rgba(0,0,0,0.50)">arrow_downward</i>
                            </div>
                        </div>
                        <div class="unlisted-ww-body">

                                <table id="unlisted-table">
                                    <tbody class="unlisted-body">

                                    </tbody>
                                </table>
                        </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{% static 'common.js' %}"></script>
    <script>

        const host_url = '{{ host_url }}';

        // grabbing credentials from localStorage
        const username = localStorage.getItem("username");
        const password = localStorage.getItem("pwd");
        const uuid  = localStorage.getItem("uuid");

        // Opens/Closes 'Friend request' tab
        $('#request-arrow').click(function() {
            if( $('.friend-r-body').css("display") == "none" ){
                document.getElementsByClassName('friend-r-body')[0].style.display = "inline-block";
            }else
                document.getElementsByClassName('friend-r-body')[0].style.display = "none";

        });

        // Opens/Closes 'Friend' tab
        $('#friends-arrow').click(function() {
            if($('.friends-w-body').css("display") == "none" ){
                document.getElementsByClassName('friends-w-body')[0].style.display = "inline-block";
            }else{
                document.getElementsByClassName('friends-w-body')[0].style.display = "none";
            }
        });

        // Opens/Closes 'Followers' tab
        $('.foll-w').click(function() {
            if($('.friends-ww-body').css("display") == "none" ){
                document.getElementsByClassName('friends-ww-body')[0].style.display = "inline-block";
            }else{
                document.getElementsByClassName('friends-ww-body')[0].style.display = "none";
            }
        });

        // Opens/Closes 'Unlisted' tab
        $('.foll-w-u').click(function() {
            if($('.unlisted-ww-body').css("display") == "none" ){
                document.getElementsByClassName('unlisted-ww-body')[0].style.display = "block";
            }else{
                document.getElementsByClassName('unlisted-ww-body')[0].style.display = "none";
            }
        });

        // GET Friend requests from inbox
        $.ajax({
          type: 'GET',
          headers: {
              'Authorization': 'Basic ' + btoa(username+':'+password),
          },
          url: host_url + 'author/'+ localStorage.getItem('uuid') +'/inbox/',
          dataType: 'json',
        })
          .done(function(data){
            console.log('data',data.items);
            var fr_req = []; // IDs and dname of requesters

            for(el of data['items']){
              if(el.type === "Follow" || el.type == "follow"){
                var d = {
                  'id': el.actor.id.split('/')[4],
                  'displayName': el.actor.displayName,
                  'notif_id': el.notif_id, // used to delete item from inbox once approved
                }
                fr_req.push(d);
              }
            }

            formatAndAppendFriendRequests(fr_req);

          });

          // Append friend request data to DOM
          function formatAndAppendFriendRequests(fr_req){
            for(fr of fr_req){
              $('.f-req-body').append(`
                <tr>
                    <td>${fr.displayName}</td>
                    <td><div data-id="${fr.id}" data-notif-id="${fr.notif_id}"class="accept_btn">Accept</div></td>
                </tr>
                `);
            }
          }

          // GET Followers
          $.ajax({
            type: 'GET',
            url: host_url + 'author/'+ localStorage.getItem('uuid') +'/followers/',
            dataType: 'json',
          })
            .done(function(data){
              const followers = []; // IDs and dname of followers

              for(el of data['items']){
                var d = {
                  'id': el.id.split('/')[4],
                  'displayName': el.displayName,
                }
                  followers.push(d);
              }

              formatAndAppendFollowers(followers);
              getFriends(followers);
            });


            // Append Followers data to DOM
            function formatAndAppendFollowers(followers){
              for(f of followers){
                $('.followers-body').append(`
                  <tr>
                      <td>${f.displayName}</td>
                      <td><div data-id="${f.id}"  class="remove_btn">Remove</div></td>
                  </tr>
                  `);
              }
            }

            // 'Accept' follow request
            $('#friend-request-table').on('click', '.accept_btn', function(){
                const follower_id = $(this).data("id");
                const notif_id  = $(this).data("notif-id");

                $.ajax({
                  type: 'PUT',
                  headers: {
                      'Authorization': 'Basic ' + btoa(username+':'+password),
                  },
                  url: host_url + 'author/'+ localStorage.getItem('uuid') +'/followers/'+ follower_id + '/',
                })
                  .done(function(data){
                    // remove notification from inbox
                    // console.log('inside first layer');
                    $.ajax({
                      type: 'DELETE',
                      headers: {
                          'Authorization': 'Basic ' + btoa(username+':'+password),
                      },
                      url: host_url + 'author/'+ localStorage.getItem('uuid') +'/inbox/'+ notif_id + '/',
                    })
                      .done(function(data){
                        location.reload();
                      });
                  });
            });

            // TODO: decline follower request


            // 'Remove' follower
            // TODO: URL Not Found
            $('#followers-table').on('click', '.remove_btn', function(){
                const follower_id = $(this).data("id");
                console.log("f_id", follower_id);

                $.ajax({
                  type: 'DELETE',
                  headers: {
                      'Authorization': 'Basic ' + btoa(username+':'+password),
                  },
                  url: host_url + 'author/'+ localStorage.getItem('uuid') +'/followers/'+ follower_id + '/',
                })
                  .done(function(data){
                    // TODO: Not working
                    location.reload();
                  });
            });

            // GET Local Friends
            // 1. Get all followers
            // 2. Check if request was accepted
            function getFriends(followers){
              // for every follower,
              // check if author also follows
              for(f of followers){
                $.ajax({
                  type: 'GET',
                  async: false, // because we're in a  loop
                  url: host_url + 'author/'+ localStorage.getItem('uuid') + '/followers/' + f.id,
                  dataType: 'json',
                })
                  .done(function(data){
                    // console.log(f);
                    if(data.friends){
                      $('.f-body').append(`
                        <tr>
                            <td>${f.displayName}</td>
                        </tr>
                        `);
                    }
                  });
                  // console.log('next');
              }
            }

            // Get unlisted posts
            $.ajax({
              type: 'GET',
              url: host_url + 'author/'+ localStorage.getItem('uuid') +'/posts/',
              dataType: 'json',
            })
              .done(function(data){
                for(el of data['items']){
                  // if unlisted
                  if(el.unlisted){
                    const x = 'unlisted/'+el.post_id+'/';
                    $('.unlisted-body').append(`
                      <tr>
                          <td><a href="${x}">${el.title}</a></td>
                          <td><div data-id="${el.post_id}"class="remove_btn">Remove</div></td>
                      </tr>
                      `);
                  }
                }
              });

            // Delete unlisted post
            $('#unlisted-table').on('click', '.remove_btn', function(){
                const pId = $(this).data("id");
                console.log("f_id", pId);

                $.ajax({
                  type: 'DELETE',
                  headers: {
                      'Authorization': 'Basic ' + btoa(username+':'+password),
                  },
                  url: host_url + 'author/'+ localStorage.getItem('uuid') +'/posts/'+ pId + '/',
                })
                  .done(function(data){
                    location.reload();
                  });
            });



    </script>
</body>
</html>
