{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet"  href="{%  static  'css/frame_.css'  %}">
    <link href = "https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700" rel = "stylesheet" /><link href = "https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700" rel = "stylesheet" />
    <title>Home</title>
    <style>
        .inbox-wrap{
            display:none;
        }
        .send-comment{
            width:50px;
            height:40px;
            float:right;
            margin-top:-40px;
            margin-right:20px;
            border-radius: 0 25px 25px 0;
            background-color:rgba(0,0,0,0.10);
            display:flex;
            justify-content:center;
            align-items:center;
            cursor:pointer;
        }
        .send-comment:hover{
            background-color:rgba(0,0,0,0.20);
        }
        .o-r-cell{
            margin-top:10px;
            background-color:white;
        }
        .o-r-details{
            border-radius:5px;
            background-color:rgba(0,0,0,0.05);
        }
        .o-r-details p{
            width:100%;
            padding-left:10px;
            padding-right:10px;
            padding-top:5px;
            box-sizing: border-box;
        }
        .c-p-wrap{

            line-height:20px;
            height:25px;
            padding-bottom:5px;
            padding-top:5px;
        }
        .c-p-wrap p{
            font-size:14px;
            padding:0;
            margin-top:2.5px;
            padding-left:10px;
            text-align:left;
        }
        .comment-profile{
            width:25px;
            height:25px;
            float:left;
            margin-left:10px;
            margin-right:15px;
            border-radius:12.5px;
            background-color:white;
        }
        .comment-time{
            height:30px;
            margin-top:-45px;
            margin-right:10px;
            float:right;line-height:30px;
        }
        .comment-time p{
            margin-top:0;
            margin-top:5px;

        }
        .unhideDel,.unhideEdit{

        }
        .hideDel,.hideEdit{
            display:none;
        }
        .outside-post {
          width:50px;
          height: 100%;
          background-color: rgba(0,0,0,0.03);
          float:right;
          display: flex;
          align-items: center;
          justify-content: center;
        }
    </style>
</head>
<body>
    <body>
      {% include "components/topnav.html" %}

        <div class="main-body">
              {% include "components/leftnav.html" %}
            <div class="content">

                <div id="post-top-container">
                  <div id="post-input-w"><input id="post-input" type="text" placeholder="What's on your mind?" ></div>

                  <div id="post-container" >
                    <div class="p-f-h">
                        <div class="close">
                            <i class="material-icons">close</i>
                        </div>
                        <div class="tab-control">
                            <div class="post-raw">
                                <p>Write</p>
                            </div>
                            <div class="post-preview">
                                <p>Preview</p>
                            </div>
                        </div>
                    </div>

                    <!-- Markdown Preview -->
                    <div class="preview-body">

                    </div>

                    <div class="post-body">
                      <div class="post-main" style="text-align:center">
                        <div class="p-content-title">
                            <input type="text" placeholder="title..." id="p-title">
                        </div>
                        <div class="p-content-desc">
                            <input type="text" placeholder="decription..." id="p-description">
                        </div>
                        <textarea id="p-r-text-input" cols="30" rows="5" placeholder="Start a conversation ..."></textarea>

                        <div class="post-main-bot">
                          <div class="post-images">
                              <input type="file" id="img-input"/>
                              <div class="img-logo-wrap">
                                  <i class="material-icons">wallpaper</i>
                              </div>
                              <p class="img-logo-text" style="margin:0;margin-top:12.5px;float:left">Photo</p>
                          </div>


                          <div class="sel">
                            <select  id="content_type">
                               <option value="text/plain">Plain text</option>
                               <option value="text/markdown">Markdown</option>
                             </select>
                          </div>
                          <div class="sel">
                            <select id="visibility_choice">
                              <option value="PUBLIC">Public</option>
                              <option value="FRIENDS">Friends</option>
                             </select>
                          </div>
                          <div class="sel">
                            <select id="whichFriend" disabled>
                              <option value="ALL">All</option>
                             </select>
                          </div>
                          <div class="sel">
                            <select id="unlisted_listed">
                              <option value="Listed">Listed</option>
                              <option value="Unlisted">Unlisted</option>
                             </select>
                          </div>
                          <div class="create-post">
                              <p>Post</p>
                          </div>
                        </div>

                      </div>

                      <div class="post-img">
                        <div class="post-img-h">
                          <img id="img-preview">
                        </div>
                        <div class="p-close-img">
                          <i class="material-icons" style="color:black">close</i>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="post-feed-w">
                    <div class="post-feed">
                        <div class="tab-switch" style="width:100%;">
                            <div class="tab-public">
                                <div class="tab-icon"><i class="material-icons" style="color:rgba(0,0,0,0.50)">public</i></div>
                                <div class="tab-text"><p>Public</p></div>
                            </div>
                            <div class="tab-inbox">
                                <div class="tab-icon"><i class="material-icons" style="color:rgba(0,0,0,0.50)">inbox</i></div>
                                <div class="tab-text"><p>Local</p></div>
                            </div>
                        </div>
                        <div class="inbox-wrap" style="background-color: aqua;">
                            <div class="table-head">
                                <p>Summary</p>
                            </div>
                            <div class="table-body">

                                <table id="summary-table">
                                    <tbody id="sum-body">

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- =============================== Editing Post Block =============================== -->

                        <div class="e-editPostPopup" style="border: 1px solid chocolate">
                          <div class="e-w-popup">

                            <div class="e-p-f-h">
                                <div class="e-close" onclick="closeEditFormPopup()">
                                    <i class="material-icons">close</i>
                                </div>
                                <div class="e-tab-control">
                                    <div class="e-post-raw">
                                        <p>Write</p>
                                    </div>
                                    <div class="e-post-preview">
                                        <p>Preview</p>
                                    </div>
                                </div>
                            </div>

                            <div class="e-post-body">
                              <div class="e-post-main" style="text-align:center">
                                <div class="e-p-content-title">
                                    <input type="text" placeholder="title..." id="e-p-title">
                                </div>
                                <div class="e-p-content-desc">
                                    <input type="text" placeholder="decription..." id="e-p-description">
                                </div>
                                <textarea id="e-p-r-text-input" cols="30" rows="5" placeholder="Start a conversation ..."></textarea>

                                <div class="e-post-main-bot">
                                  <div class="e-post-images">
                                      <input type="file" id="e-img-input"/>
                                      <div class="e-img-logo-wrap">
                                          <i class="material-icons">wallpaper</i>
                                      </div>
                                      <p class="e-img-logo-text" style="margin:0;margin-top:12.5px;float:left">Photo</p>
                                  </div>


                                  <div class="e-sel">
                                    <select  id="e-content_type">
                                       <option value="text/plain">Plain text</option>
                                       <option value="text/markdown">Markdown</option>
                                     </select>
                                  </div>
                                  <div class="e-sel">
                                    <select id="e-visibility_choice">
                                      <option value="PUBLIC">Public</option>
                                      <option value="FRIENDS">Friends</option>
                                     </select>
                                  </div>
                                  <div class="e-sel">
                                    <select id="e-one_friend">
                                      <option value="FRIENDS">Friends</option>
                                     </select>
                                  </div>
                                  <div class="e-sel">
                                    <select id="e-unlisted_listed">
                                      <option value="Listed">Listed</option>
                                      <option value="Unlisted">Unlisted</option>
                                     </select>
                                  </div>
                                  <div class="e-create-post">
                                      <!-- We send over some data. Avoids making a second call to author/{author_id}/posts/{post_id}/  -->
                                      <input id="e-data-holder" type="hidden" data-id="" data-source="" data-origin="" data-commentLink="" data-commentCount="">
                                      <p>Post</p>
                                  </div>
                                </div>

                              </div>

                              <div class="e-post-img">
                                <div class="e-post-img-h">
                                  <img id="e-img-preview">
                                </div>
                                <div class="e-p-close-img">
                                  <i class="material-icons" style="color:black">close</i>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>

                        <!-- =============================== Editing Post =============================== -->

                    </div>
                </div>


            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" integrity="sha512-L03kznCrNOfVxOUovR6ESfCz9Gfny7gihUX/huVbQB9zjODtYpxaVtIaAkpetoiyV2eqWbvxMH9fiSv5enX7bw==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> <!-- To convert js time into djangotime-->
        <script src="{% static 'common.js' %}"></script>
        <script>

            const host_url = '{{ host_url }}';

            // grabbing credentials from localStorage
            const username = localStorage.getItem("username");
            const password = localStorage.getItem("pwd");
            const uuid  = localStorage.getItem("uuid");

            var followerArray = []; // uuid
            var friendsArray = []; // uuid
            var displayName_cur;
            var github_cur;

            const dname = localStorage.getItem('displayName');
            $('.username p').append(dname);

            function getLoginUser(){
                $.ajax({
                    type: 'GET',
                    url: 'author/'+localStorage.getItem('uuid')+'/'
                })
                .done(function(data){
                    console.log("USER CREDENTIALS");
                    console.log(data)
                    displayName_cur = data.displayName;
                    github_cur = data.github;
                });
            }

            getLoginUser();



            // if(localStorage.getItem('uuid') == null){
            //     //just view public post
            //     console.log("this is meee"+localStorage.getItem('uuid'));
            //     fetchPublicPost(0);
            // }else{
            //     //retrieve signed in users post and assign authenticated user priviledges
            //     getLoginUser();
            //     fetchFollowers();
            // }

            // Added jquery for top container(new post)

            // hide top input bar
            $("#post-input").click(function(){
              loadFriendsToSelect();
              $("#post-input-w").hide();
              $("#post-container").show();
            });


            $(".close").click(function(){
              $("#post-input-w").show();
              $("#post-container").hide();
            });

            // Fetch all public posts
            // 0 meaning freshly pulled from db
            fetchPublicPost(0);

            // Fetch user's followers
            // with callback to fetchFriends
            fetchFollowers(fetchFriends);

            // used for sending posts to 1 friend
            // fetchFriends();

            $('.check-visibility,.vis-dropdown').mouseenter(function(){
                $('.vis-dropdown').show();
            });

            $('.check-visibility,.vis-dropdown').mouseleave(function(){
                $('.vis-dropdown').hide();
                document.getElementsByClassName('vis-authors')[0].style.display = "none";
            });


            // $('.post-type-wrap,.post_type').mouseenter(function(){
            //     $('.post_type').show();
            // });
            // $('.post-type-wrap,.post_type').mouseleave(function(){
            //     $('.post_type').hide();
            // });
            // $('#post-input').click(function() {
            //     document.getElementsByClassName("tab-switch")[0].style.visibility = "hidden";
            //     document.getElementsByClassName('post-format')[0].style.display = "block";
            // })
            // $('#vis-input').click(function() {
            //     document.getElementsByClassName('vis-authors')[0].style.display = "block";
            //
            // })
            document.getElementsByClassName('tab-public')[0].classList.add("current-tab");
            $('.tab-public').click(function() {
                $('.posted-wrap').remove();
                document.getElementsByClassName('inbox-wrap')[0].style.display = "none";
                document.getElementsByClassName('tab-public')[0].classList.add("current-tab");
                document.getElementsByClassName('tab-inbox')[0].classList.remove("current-tab");
                fetchPublicPost(0);
                // fetchRemotePublicPost();

            })
            $('.tab-inbox').click(function() {
                $('.posted-wrap').remove();
                document.getElementsByClassName('tab-public')[0].classList.remove("current-tab");
                document.getElementsByClassName('tab-inbox')[0].classList.add("current-tab");
                fetchInboxMessages();
            })

            // Markdown preview
            $('.post-preview').click(function() {
                $('.preview-body').empty();
                document.getElementsByClassName("post-body")[0].style.display = "none"; // hide other tab
                document.getElementsByClassName("preview-body")[0].style.display = "block"; // show current preview tab
                var text = document.getElementById('p-r-text-input').value;
                //convert markdown to html
                var converter = new showdown.Converter();
                var out = converter.makeHtml(text);
                document.getElementsByClassName('preview-body')[0].innerHTML += out;

            });

            $('.post-raw').click(function() {
                $('.preview-body').empty();
                $('.preview-body').hide();
                $('.post-body').show();

            });
            // $('.close').click(function() {
            //     document.getElementsByClassName('post-format')[0].style.display = "none";
            //     document.getElementsByClassName("tab-switch")[0].style.visibility = "visible";
            // });

            var openedcomments = [];
            function toggleComments(element){
                console.log(element)
                var commentblockid = "o-comment_"+element.id;
                if(!(openedcomments.includes(commentblockid))){
                    openedcomments.push(commentblockid);
                    document.getElementById(commentblockid).style.display = "inline-block";
                    console.log("comment opened")
                    console.log(openedcomments)
                    fetchcomment(element)
                }else{
                    const index = openedcomments.indexOf(commentblockid);
                    if (index > -1) {
                        openedcomments.splice(index, 1);
                    }
                    console.log(openedcomments)
                    document.getElementById(commentblockid).style.display = "none";
                    console.log("comment closed")
                }
            }

            var is_checked_listed = false;
            $('#checklist_listed').click(function() {
                if(!is_checked_listed){
                    document.getElementById('ch-listed').style.display = "flex";
                    is_checked_listed = true;
                }else{
                    document.getElementById('ch-listed').style.display = "none";
                    is_checked_listed = false;
                }
            });
            var postVisibility;
            var is_checked_friend = false;
            $('#vis-friends').click(function() {
                if(!is_checked_friend){
                    document.getElementById('ch-friends').style.display = "flex";
                    is_checked_friend = true;
                    postVisibility = "FRIENDS";
                }else{
                    document.getElementById('ch-friends').style.display = "none";
                    is_checked_friend = false;
                }
            });

            var is_checked_pub = false;
            $('#vis-pub').click(function() {
                if(!is_checked_pub){
                    document.getElementById('ch-pub').style.display = "flex";
                    is_checked_pub = true;
                    postVisibility = "PUBLIC";
                }else{
                    document.getElementById('ch-pub').style.display = "none";
                    is_checked_pub = false;
                }
            });

            // called when create post div opens
            function loadFriendsToSelect(){
              console.log('fA', friendsArray);
              for (id of friendsArray){
                $.ajax({
                type: 'GET',
                async: false,
                url: host_url + 'author/'+ id,
                })
                .done(function(data){
                  // Adding friends to select
                  $('#whichFriend').append(`<option value="${data.id}">
                                             ${data.displayName}
                                            </option>`);
                });
              }
            }



            // Adding image
            var base64 = '';
            var imgType;
            $('#img-input').change(function () {
                selectedFile = event.target.files[0];
                console.log(selectedFile)
                var imageType = /image.*/;
                if (selectedFile.type.match(imageType)) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        base64 = e.target.result;
                        imgType = selectedFile.type;
                        $('.p-close-img').css("display", "inline-block"); // shows closing button
                        $('#img-preview').attr('src', e.target.result);// shows image preview
                    };
                    reader.readAsDataURL(this.files[0]);

                }
            });

            // Removing image
            $('.p-close-img').click(function() {
                $('.p-close-img').css("display", "none"); // hide closing button
                $('#img-preview').attr('src', "");// hide image preview
                base64 = '';
                imgType = '';
            });

            // Making sure we can select All or friend iff FRIENDS
            $("#visibility_choice").change(function() {
              if(document.getElementById("visibility_choice").value == "FRIENDS")
                $('#whichFriend').removeAttr('disabled');
              else{
                $('#whichFriend').attr('disabled', 'disabled');
                $('#whichFriend').val('ALL');
                }
            })

             // Creating new post
             $('.create-post').click(function() {
                var title = document.getElementById("p-title").value;
                var description = document.getElementById("p-description").value;
                var text = document.getElementById("p-r-text-input").value;
                var listed_unlisted = document.getElementById("unlisted_listed").value;
                const whichFriend = document.getElementById("whichFriend").value;

                const data = {
                    'title':title,
                    'description':description,
                    'contentType':$('#content_type').val(),
                    'content':'',
                    'categories':["web","tutorial"],
                    'pageSize':1,
                    'visibility':$('#visibility_choice').val(),
                    'unlisted': listed_unlisted == "Unlisted"  // needs a js boolean
                };

                // just text
                console.log(imgType);
                if (!base64){
                  data.content = text;
                  makeReq(data); // post to user
                  if (data.visibility == "FRIENDS")
                    makeReqInbox(data, whichFriend)
                }

                // just image
                else if (base64 && !text.length){
                  console.log('just image');
                  data.content = base64;
                  data.contentType = "application/base64";
                  makeReq(data);
                  if (data.visibility == "FRIENDS")
                    makeReqInbox(data, whichFriend)
                }

                // image + text
                // 2 posts requests
                else if(base64  && text.length){
                  console.log('text+image')
                  // send text
                  data.content = text;
                  makeReq(data);
                  if (data.visibility == "FRIENDS")
                    makeReqInbox(data, whichFriend)

                  // send image
                  data.content = base64;
                  data.contentType = imgType + ";base64";
                  makeReq(data);
                  if (data.visibility == "FRIENDS")
                    makeReqInbox(data, whichFriend)
                }

                function makeReq(data){
                  console.log(data);
                  $.ajax({
                  type: 'POST',
                  headers: {
                      'Authorization': 'Basic ' + btoa(username+':'+password),
                      'Content-Type': 'application/json',
                  },
                  url: host_url + 'author/'+localStorage.getItem('uuid')+'/posts/', // TODO: should point to current user url
                  data: JSON.stringify(data),
                  })
                  .done(function(data){
                    // hidind
                    $("#post-input-w").show();
                    $("#post-container").hide();

                    //insert post data to DOM
                    FillDOM(data,"hideFollow","unhideDel","unhideEdit",1);
                  });
                }

                // whichFriend can be "ALL" or uuid of user
                function makeReqInbox(data, whichFriend){
                  // send only to Friends
                  if(whichFriend == "ALL"){
                    for(id of friendsArray)
                      makeReqInboxOne(id);
                  }

                  // send only to 1 Friend
                  else
                    makeReqInboxOne(whichFriend);
                }

                // sending post to id's inbox(1)
                function makeReqInboxOne(id){
                  const one_data = {
                     "type":                  "post",
                     "title":                 data.title,
                     "description":           data.description,
                     "source":                host_url,
                     "origin":                host_url,
                     "contentType":           data.contentType,
                     "content":               data.content,
                     "categories" :           data.categories,
                     "commentLink":           host_url,
                     "commentCount":          "0",
                     "pageSize":              "5",
                     "visibility":            data.visibility,
                     "unlisted":              data.unlisted,
                     "author":{
                       "author_id":           localStorage.getItem('uuid'),
                       "type":                "author",
                       "host":                host_url,
                       "displayName":         displayName_cur,
                       "url":                 host_url+'/author/'+localStorage.getItem('uuid'),
                       "github":              github_cur,
                       }
                  };

                  console.log('to inbox', one_data);
                  $.ajax({
                  type: 'POST',
                  headers: {
                      'Authorization': 'Basic ' + btoa(username+':'+password),
                      'Content-Type': 'application/json',
                  },
                  url: host_url + 'author/'+ id +'/inbox/',
                  data: JSON.stringify(one_data),
                  })
                  .done(function(data){
                    console.log('done');
                  });
                }

            });

            // callback to fetchFriends
            function fetchFollowers(ff){
                //fetch followers of user and cross check with post in order to add "follow" feature to post
                // also used to send post to Friends
                $.ajax({
                    type: 'GET',
                    url: host_url + 'author/'+localStorage.getItem('uuid')+'/followers/'
                })
                .done(function(data){
                    const followersRes =  data.items;
                    for(i=0;i < followersRes.length; i++){
                        followerArray.push(followersRes[i].id)
                    }

                    // used for sending posts to 1 friend
                    ff(followerArray);
                });
            }

            function fetchFriends(followerArray){
              for(f_id of followerArray){
                $.ajax({
                type: 'GET',
                async: false,
                headers: {
                    'Authorization': 'Basic ' + btoa(username+':'+password),
                    'Content-Type': 'application/json',
                },
                url: host_url + 'author/'+localStorage.getItem('uuid')+'/followers/'+f_id+'/',
                })
                .done(function(data){
                  if(data.friends){
                    console.log('friend found');
                    friendsArray.push(f_id);
                  }
                });
              }
            }

            function fetchPublicPost(newflag){
                $.ajax({
                    type: 'GET',
                    url: host_url + 'posts/'
                })
                .done(function(data){
                    // console.log('fetching public-posts');
                    // console.log(data.items); // posts

                    const allPublicPostsSorted = data.items;
                    // allPublicPostsSorted.sort((a, b) => a.published - b.published )
                    console.log(x= allPublicPostsSorted);

                    var posts = data.items;
                    if(posts.length != 0){
                        for ( i = 0 ; i < posts.length; i++){
                            var data = allPublicPostsSorted[i];
                            var followFlag;
                            var delFlag;
                            var editFlag;

                            // if post belongs to a follower
                            if(followerArray.includes(data.author.id)){
                                followFlag="hideFollow"
                            }else{
                                followFlag="showFollow"
                            }

                            // if post belongs to logged in user
                            if(data.author.id == localStorage.getItem('uuid')){
                                flag="hideFollow";
                                delFlag = "unhideDel";
                                editFlag="unhideEdit";
                            }else{
                                delFlag= "hideDel";
                                editFlag="hideEdit";
                            }

                            //insert post data to DOM
                            console.log('filling dom');
                            FillDOM(data,followFlag,delFlag,editFlag,newflag)
                        }
                    }else{
                        //no public data exist
                        // show maybe design
                    }
                });

            }



            var arrayOfRequests = [];
            function checkFollowrequest(){
                $.ajax({
                    type: 'GET',
                    url: host_url + 'author/'+localStorage.getItem('uuid')+'/inbox/'
                })
                .done(function(data){
                    console.log(data)
                    console.log("IN check follow request");
                    var requests = data.items;
                    for(i=0;i < requests.length; i++){
                        arrayOfRequests.push(requests[0].id)
                    }
                });
            }

            // only fetches local posts
            // TODO: change names later
            function fetchInboxMessages(){
                $('#sum-body').empty();
                fetchPublicPost(0);
            }


            function FillDOM(data,flag,deleteFlag,editFlag,newflag){
                var like_c;
                if(newflag == 1){
                    //newly added post
                    like_c = 0;
                    addnewpost(data,flag,deleteFlag,editFlag,like_c)

                // newFlag 0
                // public posts straight from db
                }else{
                    persistLikes(data.author.id, data.post_id, data,flag,deleteFlag,editFlag);
                }


            }
            //likepost
            function likepost(element){
                console.log(element.id)
                var postid= (element.id).slice(6);

                ////get author id
                var arr = (element.className).split(' ');
                var extract = arr[1];
                fid = extract.slice(6);
                console.log("------")
                console.log(fid);
                console.log(postid);
                data = {
                    "type":"like",
                    "author_id":{
                        'author_id':localStorage.getItem('uuid'),
                        'type':'author',
                        'host':host_url,
                        'displayName':displayName_cur,
                        'url':host_url+"author/"+localStorage.getItem('uuid'),
                        'github':github_cur
                    },
                    "object_id":host_url+"author/"+fid+"/posts/"+postid
                }
                $.ajax({
                    type:"POST",
                    contentType: "application/json",
                    data:JSON.stringify(data),
                    url: host_url + 'author/'+fid+'/inbox/'
                })
                .done(function(data){
                    //MANIPULATE DOM
                    console.log(data);
                    //increment count
                    var countvaljunk = document.getElementsByClassName("like_row"+postid)[0].innerHTML += 1;
                    var countval = + countvaljunk.slice(0, -6)
                    countval+=1;
                    document.getElementsByClassName("like_row"+postid)[0].innerHTML = countval + " likes";
                })

            }

            // get number of likes of a post
            function persistLikes(author_id,post_id,data,flag,deleteFlag,editFlag){
                var res_like_count;
                $.ajax({
                    type: 'GET',
                    url: 'author/'+author_id+'/posts/'+post_id +"/likes"
                })
                .done(function(d){
                    // console.log(d.items.length);
                    var like_c = d.items.length;
                    persistFollowStats(localStorage.getItem('uuid'),data,flag,deleteFlag,editFlag,like_c);

                });

            }

            function addnewpost(data,flag,deleteFlag,editFlag,like_c){
              console.log('addnewpost')
                const postHTML =  `<div class="posted-wrap">
                    <div class="posted-w-h" >
                        <div class="p-w-h-details" style="width:calc(100%-160px)">

                            <div class="p-profile-wrap">
                                <div class="p-profile">

                                </div>

                            </div>
                            <div class="p-user-wrap">
                                <p>${data.author.displayName}</p>
                            </div>
                            <p class="follow-user ${data.author.id}" id="${flag}" onclick="followUser(this)">Follow</p>
                        </div>
                        <div class="del-post ${deleteFlag}"  id="${data.post_id}" onclick="deletePost(this)">
                            <i class="material-icons" style="color:rgba(0,0,0,0.45)">delete_outline</i>
                        </div>
                        <div class="edit-post ${editFlag}" data-id="${data.post_id}"onclick="openEditPostPopup(this)">
                            <i class="material-icons" style="color:rgba(0,0,0,0.45)">mode</i>
                        </div>
                        <div class="outside-post">
                            <i class="material-icons" style="color:rgba(0,0,0,0.45)">travel_explore</i>
                        </div>
                    </div>
                    <div class="p-title-wrap">
                        <p>${data.title}</p>
                    </div>

                    <div class="post-text">
                        <p>${data.content}</p>
                    </div>

                    <!--
                    <div class="posted-img-wrap">
                        <img src="{%  static  'assets/preview.png'  %}" id="proimage">
                    </div>
                    -->

                    <div class="like-count-w">
                        <p id="like-count" class="${"like_row"+data.post_id}">${like_c + " likes"}</p><p id="${"comment-count_"+data.post_id}">${data.commentCount} comments</p">
                    </div>
                    <div class="social-controls">

                        <div class="like-w ${"thumb_"+data.author.id}" onclick="likepost(this)" id="${"thumb_"+data.post_id}">
                            <div class="s-c-img">
                                <i class="material-icons">thumb_up</i>
                            </div>
                            <p>Like</p>
                        </div>
                        <div class="comment-w" onclick="toggleComments(this)" id="${data.post_id}">
                            <div class="s-c-img">
                                <i class="material-icons">comment</i>
                            </div>
                            <p>Comment</p>
                        </div>
                        <div class="share-w">
                            <div class="s-c-img">
                                <i class="material-icons">share</i>
                            </div>
                            <p>Share</p>
                        </div>
                    </div>
                    <div class="o-comments" id="${"o-comment_"+data.post_id}">
                        <div class="o-c-cell">
                            <div class="oc-profile">

                            </div>
                            <div class="o-type-comment">
                                <input type="text" placeholder="Type your comments here" id="${"comment_input"+data.post_id}">
                            </div>
                            <div class="send-comment" onclick="addcomment(this)" id="${data.post_id}">
                                <i class="material-icons" style="color:white">send</i>
                            </div>
                        </div>
                        <div class="o-r-cell" id="${"comment_cell"+data.post_id}">

                        </div>
                    </div>
                </div>`;
                $(".post-feed").append(postHTML);
            };

            function followUser(curTag){
                console.log("tapped follower tag")
                var arr = (curTag.className).split(' ');
                fid = arr[1];
                console.log(fid);
                followRequest(fid,curTag)

            }

            function followRequest(fid,curTag){
                data = {
                    "type":"follow",
                    "author_id":{
                        'id':localStorage.getItem('uuid'),
                        'type':'author',
                        'host':host_url,
                        'displayName':displayName_cur,
                        'url':host_url+"author/"+localStorage.getItem('uuid'),
                        'github':github_cur
                    }

                }
                console.log(data)
                $.ajax({
                    type:"POST",
                    contentType: "application/json",
                    headers: {
                        'Authorization': 'Basic ' + btoa(username+':'+password),
                    },
                    data:JSON.stringify(data),
                    url: host_url + 'author/'+fid+'/inbox/'
                })
                .done(function(data){
                    //MANIPULATE DOM
                    console.log(data);
                    curTag.innerHTML = "Request Sent";
                    replaceall(fid)
                });
            }

            //replaces all follow request links of a particular user to "request sent"
            function replaceall(fid,curTag){
                $('.'+fid).each(function(i, obj) {
                    //test
                    console.log(obj)
                    obj.innerHTML = "Request Sent";
                });
            }

            // persist follow status on each public post
            // and appendws to DOM
            function persistFollowStats(fid,data,flag,deleteFlag,editFlag,like_c){
              var image = '';
              var content = '';
              // console.log(data)
                //to do:
                $.ajax({
                    type: 'GET',
                    url: host_url + 'author/'+data.author.id+'/followers/'+fid
                })
                .done(function(dd){
                    var requestnotaccepted = dd.accepted;
                    var followstats;
                    if(requestnotaccepted == true){
                        followstats="accepted";
                    }else if (requestnotaccepted == false){
                        followstats="Request Sent";
                    }else{
                        followstats="Follow";
                    }

                    // only text
                    // TODO: Markdown
                    if(data.contentType == "text/plain" || data.contentType == "text/markdown"){
                      content = data.content;
                    }

                    // one image
                    else if(data.contentType == "application/base64"){
                      image = `
                        <div class="posted-img-wrap">
                            <img src="${data.content}" id="proimage">
                        </div>
                      `;
                    }

                    // text + image
                    else if(data.contentType == "image/png;base64" || data.contentType == "image/jpeg;base64"){
                      content = 'TODO: FIND CONTENT';
                      image = `
                        <div class="posted-img-wrap">
                            <img src="${data.content}" id="proimage">
                        </div>
                      `;
                    }

                    // use appropirate format for markdown
                    if(data.contentType == "text/markdown"){
                      var converter = new showdown.Converter();
                      content = converter.makeHtml(data.content);
                    }

                    const postHTML =  `<div class="posted-wrap">
                        <div class="posted-w-h" >
                            <div class="p-w-h-details">

                                <div class="p-profile-wrap">
                                    <div class="p-profile">
                                    </div>
                                </div>
                                <div class="p-user-wrap">
                                    <p>${data.author.displayName}</p>
                                </div>
                                <p class="follow-user ${data.author.id}" id="${flag}" onclick="followUser(this)">${followstats}</p>
                            </div>
                            <div class="del-post ${deleteFlag}"  id="${data.post_id}" onclick="deletePost(this)">
                                <i class="material-icons" style="color:rgba(0,0,0,0.45)">delete_outline</i>
                            </div>
                            <div class="edit-post ${editFlag}" data-id="${data.post_id}" onclick="openEditPostPopup(this)">
                                <i class="material-icons" style="color:rgba(0,0,0,0.45)">mode</i>
                            </div>
                        </div>
                        <div class="p-title-wrap">
                            <p>${data.title}</p>
                        </div>

                        <div class="post-text">
                            <p>${content}</p>
                        </div>

                        <div class="posted-img-wrap">
                          ${image}
                        </div>

                        <div class="like-count-w">
                            <p id="like-count" class="${"like_row"+data.post_id}">${like_c + " likes"}</p><p id="${"comment-count_"+data.post_id}">${data.commentCount} comments</p">
                        </div>
                        <div class="social-controls">

                            <div class="like-w ${"thumb_"+data.author.id}" onclick="likepost(this)" id="${"thumb_"+data.post_id}">
                                <div class="s-c-img">
                                    <i class="material-icons">thumb_up</i>
                                </div>
                                <p>Like</p>
                            </div>
                            <div class="comment-w" onclick="toggleComments(this)" id="${data.post_id}">
                                <div class="s-c-img">
                                    <i class="material-icons">comment</i>
                                </div>
                                <p>Comment</p>
                            </div>
                            <div class="share-w">
                                <div class="s-c-img">
                                    <i class="material-icons">share</i>
                                </div>
                                <p>Share</p>
                            </div>
                        </div>
                        <div class="o-comments" id="${"o-comment_"+data.post_id}">
                            <div class="o-c-cell">
                                <div class="oc-profile">

                                </div>
                                <div class="o-type-comment">
                                    <input type="text" placeholder="Type your comments here" id="${"comment_input"+data.post_id}">
                                </div>
                                <div class="send-comment" onclick="addcomment(this)" id="${data.post_id}">
                                    <i class="material-icons" style="color:white">send</i>
                                </div>
                            </div>
                            <div class="o-r-cell" id="${"comment_cell"+data.post_id}">

                            </div>
                        </div>
                    </div>`;

                    $(".post-feed").append(postHTML);

                });
            }

            function deletePost(curDel){
                $.ajax({
                    type: 'DELETE',
                    headers: {
                        'Authorization': 'Basic ' + btoa(username+':'+password),
                    },
                    url: host_url + 'author/'+localStorage.getItem('uuid')+'/posts/'+curDel.id+'/',
                }).done(function(data){
                    // $('#'+curDel.id).parents('[class]:eq(1)').remove(); //get the first parent div wrapping the delete button
                    location.reload();
                    console.log('deleted');
                });
            }

            // Opens popup and fills data
            function openEditPostPopup(e){

              // closing popup if click is outside
              $(document).mouseup(function(e){
                console.log('clicked');
                var container = $(".e-editPostPopup");
                // if the target of the click isn't the container nor a descendant of the container
                if (!container.is(e.target) && container.has(e.target).length === 0){
                  container.hide();
                  $(document).off('mouseup'); //remove listener
                }
              });

              // open popup
              $(".e-editPostPopup").show();

              $.ajax({
                  type: 'GET',
                  headers: {
                      'Authorization': 'Basic ' + btoa(username+':'+password),
                  },
                  url: host_url + 'author/'+localStorage.getItem('uuid')+'/posts/'+e.dataset.id,
              })
              .done(function(d){
                console.log(d)
                $("#e-p-title").val(d.title);
                $("#e-p-description").val(d.description);
                $("#e-p-r-text-input").val(d.content);
                $("#e-content_type").val(d.contentType);
                $("#e-visibility_choice").val(d.visibility);
                if(d.unlisted)
                  $("#e-unlisted_listed").val("Unlisted");
                else
                  $("#e-unlisted_listed").val("Listed");
                $("#e-data-holder").data('source', d.source);
                $("#e-data-holder").data('origin', d.origin);
                $("#e-data-holder").data('commentLink', d.commentLink);
                $("#e-data-holder").data('commentCount', d.commentCount);
                $("#e-data-holder").data('id', d.post_id);

                // $("#").val(d.);
                // $("#e-one_friend").val(d.);
              });
            }

            $('.e-create-post').click(function() {
              var title = document.getElementById("e-p-title").value;
              var description = document.getElementById("e-p-description").value;
              var text = document.getElementById("e-p-r-text-input").value;
              var listed_unlisted = document.getElementById("e-unlisted_listed").value;
              // var cttn = base64 ? text : base64;
              var cttn = text;
              const postid = $("#e-data-holder").data('id');

              const data = {
                  'title':title,
                  'type': "post",
                  'description':description,
                  'contentType':$('#e-content_type').val(),
                  'content':cttn,
                  'categories':["web","tutorial"],
                  'pageSize':1,
                  'visibility':$('#e-visibility_choice').val(),
                  'unlisted': listed_unlisted == "Unlisted",  // needs a js boolean
                  'published': moment(Date()).format('YYYY-MM-DD HH:mm'),
                  'source': $("#e-data-holder").data('source'),
                  'origin': $("#e-data-holder").data('origin'),
                  'commentLink': $("#e-data-holder").data('commentLink'),
                  'commentCount': $("#e-data-holder").data('commentCount'),
              };
              console.log(data);

              $.ajax({
                  type: 'POST',
                  headers: {
                      'Authorization': 'Basic ' + btoa(username+':'+password),
                      'Content-Type': 'application/json',
                  },
                  url: host_url + 'author/'+localStorage.getItem('uuid')+'/posts/'+postid+'/',
                  data: JSON.stringify(data),
              })
              .done(function(d){
                $(".e-editPostPopup").hide();
                $(document).off('mouseup');
                location.reload();
              });

            });

            function closeEditFormPopup(){
              $(".e-editPostPopup").hide();
              $(document).off('mouseup');
            }


            //handlinf comments
            function addcomment(element){
                var pid = element.id;
                console.log(pid)
                var textfield = document.getElementById("comment_input"+pid).value;
                if(textfield == ""){
                    return
                }
                console.log(textfield)
                data = {
                    "type":"comment",
                    "author_id":{
                        'id':localStorage.getItem('uuid'),
                        'type':'author',
                        'host':host_url,
                        'displayName':displayName_cur,
                        'url':host_url+"author/"+localStorage.getItem('uuid'),
                        'github':github_cur
                    },

                    "contentType":"text",
                    "comment":textfield
                }
                console.log(host_url)
                $.ajax({
                    type:"POST",
                    headers: {
                        'Authorization': 'Basic ' + btoa(username+':'+password),
                    },
                    contentType: "application/json",
                    data:JSON.stringify(data),
                    url:host_url+"author/"+localStorage.getItem('uuid')+"/posts/"+pid+"/comments/"
                })
                .done(function(data){
                    //MANIPULATE DOM
                    console.log(data);

                    var c_cell = `<div class="o-r-details">
                        <p>${textfield}</p>
                        <div class="c-p-wrap">
                            <div class="comment-profile"> <i class="material-icons" style="color:cornflowerblue;">sentiment_satisfied_alt</i></div><p><span>${displayName_cur}</span></p>
                        </div>
                    </div>`
                    $("#comment_cell"+pid).append(c_cell);
                    var commentlabel = document.getElementById("comment-count_"+pid).innerHTML;
                    var countvalarr = commentlabel.split(" ");
                    var countval;
                    countval = + countvalarr[0];
                    countval+=1;
                    console.log(commentlabel);
                    document.getElementById("comment_input"+pid).value = ""
                    document.getElementById("comment-count_"+pid).innerHTML = countval + " comments";

                });
            }

            function fetchcomment(element){
                var pid = element.id;
                $.ajax({
                    type:"GET",
                    url:host_url+"author/"+localStorage.getItem('uuid')+"/posts/"+pid+"/comments/"
                })
                .done(function(data){
                    //MANIPULATE DOM
                    console.log(data.items);
                    for(i=0;i<data.items.length;i++){
                        console.log(data.items[i].comment)
                        var comment = data.items[i].comment;

                        var c_cell = `<div class="o-r-details">
                            <p>${comment}</p>
                            <div class="c-p-wrap">
                                <div class="comment-profile"> <i class="material-icons" style="color:cornflowerblue">sentiment_satisfied_alt</i></div><p><span>${data.items[i].author_id.displayName}</span></p><div class="comment-time"><p>${data.items[i].published.split("T")[0]}</p><div/>
                            </div>
                        </div>`
                        $("#comment_cell"+pid).append(c_cell);
                    }


                });
            }



        </script>
    </body>
</html>
