{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet"  href="{%  static  'css/frame_.css'  %}">
    <link href = "https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700" rel = "stylesheet" /><link href = "https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700" rel = "stylesheet" />
    <title>Home</title>
    <style>
        .inbox-wrap{
            display:none;
        }
        
        .send-comment{
            width:50px;
            height:40px;
            float:right;
            margin-top:-40px;
            margin-right:20px;
            border-radius: 0 25px 25px 0;
            background-color:rgba(0,0,0,0.10);
            display:flex;
            justify-content:center;
            align-items:center;
            cursor:pointer;
        }
        .send-comment:hover{
            background-color:rgba(0,0,0,0.20);
        }
        .o-r-cell{
            margin-top:10px;
            background-color:white;
        }
        .o-r-details{
            word-wrap:break-word;
            padding-bottom:5px;
            background-color:rgba(0,0,0,0.02);
            border-bottom:1px solid rgba(0,0,0,0.03);
        }
        .o-r-details span{
            color:cornflowerblue;
        }
        .o-r-details p{
            width:100%;
            padding-left:10px;
            padding-right:10px;
            padding-top:5px;
            box-sizing: border-box;
            color:rgba(0,0,0,0.75);
        }
        .c-p-wrap{
            line-height:20px;
            height:25px;
        }
        .c-p-wrap p{
            font-size:14px;
            padding:0;
            margin-top:2.5px;
            padding-left:10px;
            text-align:left;
        }
        .comment-profile{
            width:20px;
            height:20px;
            float:left;
            display:flex;
            justify-content: center;
            align-items: center;
            margin-top:2.5px;
            margin-left:10px;
            margin-right:5px;
            border-radius:10px;
            background-color:cornflowerblue;
        }
       
        .comment-like-wrap{
            height:100%;
            float:left;
            width:45px;
        }
        .comment-like-wrap:hover{
            background-color:rgba(0,0,0,0.25);
        }
        .comment-like-num{
            height:100%;
            float:left;
        }
        
        .comment-time{
            height:30px;
            margin-top:-45px;
            margin-right:10px;
            float:right;line-height:30px;
        }
        .comment-time p{
            margin-top:0;
            margin-top:5px;

        }
        #com-like{
            padding-left:0;
         }
        .unhideDel,.unhideEdit{

        }
        .hideDel,.hideEdit{
            display:none;
        }
        .outside-post {
          width:50px;
          height: 100%;
          background-color: rgba(0,0,0,0.03);
          float:right;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .nodiscoveries{
            width:calc(100% - 10px);
            margin-left:5px;
            margin-top:10px;
            margin-bottom:10px;
            height:120px;
            background-color: antiquewhite;

        }
        .popup-auth{
            width:400px;
            height:200px;
            top:calc(30%);
            left:calc(50% - 50px);
            position: absolute;
            z-index:99;
            display:none;
            background-color:white;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        .pop-up-head{
            height:39px;
            border-bottom:1px solid rgba(0,0,0,0.05);
        }
        .popup-close{
            float:right;
            height:100%;
            width:40px;
            display:flex;
            align-items: center;
            justify-content: center;
            cursor:pointer;
            background-color:rgba(0,0,0,0.05);
        }
        .popup-close:hover{
            background-color:rgba(0,0,0,0.2);
        }
        .popup-body{
            height:calc(100% - 90px);   
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .popup-body h3{
            margin-top:0;
            font-size:16px;
            font-weight:600;
            color:rgba(0,0,0,0.75);
        }
        .pop-up-action{
            height:49px;
            border-top:1px solid rgba(0,0,0,0.05);
        }
        .signin-act{
            width:calc(50% - 1px);
            height:40px;
            margin-top:5px;
            float:left;
            border-right:1px solid rgba(0,0,0,0.20);
            background-color:white;
            cursor:pointer;
            color:rgba(0,0,0,0.50);
            line-height:40px;
        } 
        .signup-act{
            width:50%;
            height:40px;
            margin-top:5px;
            float:right;
            cursor:pointer;
            line-height:40px;
            color:rgba(0,0,0,0.50);
            background-color:white;
        }
        .signup-act:hover,.signin-act:hover{
            background-color:darkcyan;
            color:white;
        }
        .signin-act p,.signup-act p{
            margin:0;
            text-align:center;
        }
        #show_img_block{
            display:flex;
        }
        #hide_img_block{
            display:none;
        }
        #show_post_text{
            display:block;
        }
        #hide_post_text{
            display:none;
        }
        .p-title-wrap h3{
            font-size:18px;
            font-weight:600;
            margin-left:10px;
            color:rgba(0,0,0,0.75);
        }
        .comment-tzone{
            height:100%;
            float:right;
            margin-right:10px;
        }
    </style>
</head>
<body>
    <body>
      {% include "components/topnav.html" %}
        <div class="main-body">
              {% include "components/leftnav.html" %}
            <div class="content">
                <div class="content-head">
                    <div class="post-holder">
                        <div class="post-wrap">
                            <input type="text" placeholder="What's on your mind?" id="post-input">
                            <div class="post-format">
                                <div class="p-f-h">
                                    <div class="close">
                                        <i class="material-icons">close</i>
                                    </div>
                                    <div class="tab-control">
                                        <div class="post-raw">
                                            <p>Write</p>
                                        </div>
                                        <div class="post-preview">
                                            <p>Preview</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-body">
                                    <div class="initial-body">
                                        <div class="p-content-area">
                                            <div class="post-b-text">
                                                <div class="p-content-title">
                                                    <input type="text" placeholder="title..." id="p-title">
                                                </div>
                                                <div class="p-content-desc">
                                                    <input type="text" placeholder="decription..." id="p-description">
                                                </div>
                                                <textarea id="p-r-text-input" cols="30" rows="10" placeholder="Start a conversation ..."></textarea>
                                            </div>
                                            <div class="post-img-wrap">

                                                <div class="p-close-wrap">
                                                    <div class="p-close-img">
                                                        <i class="material-icons" style="color:white">close</i>
                                                    </div>
                                                </div>
                                                <div class="p-align-img">
                                                    <div class="post-img-h">
                                                        <img src="{%  static  'assets/preview.png'  %}" id="proimage">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="img-overall">
                                            <div class="img-holder">

                                                <div class="post-images">
                                                    <input type="file" id="img-input"/>
                                                    <div class="img-logo-wrap">
                                                        <i class="material-icons">wallpaper</i>
                                                    </div>
                                                    <p class="img-logo-text" style="margin:0;margin-top:12.5px;float:left">Photo</p>
                                                </div>

                                                <div class="create-post">
                                                    <p>Post</p>
                                                </div>
                                                <div style="display:inline-block"><input type="checkbox" id="l-ul" style="width:40px" value="listed" checked><span> Listed</span></div>
                                                <div class="sel">
                                                  <select  id="content_type">
                                                     <option value="plain_text">Plain text</option>
                                                     <option value="image/png">Image</option>
                                                     <option value="image/jpeg">Text+image</option>
                                                     <option value="markdown">Markdown</option>
                                                   </select>
                                                </div>
                                                <div class="sel">
                                                  <select id="visibility_choice">
                                                    <option value="PUBLIC">Public</option>
                                                    <option value="FRIENDS">Friends</option>
                                                   </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-body">

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="popup-auth">
                    <div class="pop-up-head">
                        <div class="popup-close"><i class="material-icons" style="color:rgba(0,0,0,0.50)">close</i></div>
                    </div>
                    <div class="popup-body">
                        <h3>You must be authenticated to use this feature</h3>
                    </div>
                    <div class="pop-up-action">
                        <div class="signin-act"><p>Sign In</p></div>
                        <div class="signup-act"><p>Sign Up</p></div>
                    </div>
                </div>
                <div class="post-feed-w">
                    <div class="post-feed">
                        <div class="tab-switch" style="width:100%;">
                            <div class="tab-public" style="width:110px;">
                                <div class="tab-icon"><i class="material-icons" style="color:rgba(0,0,0,0.50)">public</i></div>
                                <div class="tab-text"><p>Discover</p></div>
                            </div>
                            <div class="tab-inbox">
                                <div class="tab-icon"><i class="material-icons" style="color:rgba(0,0,0,0.50)">inbox</i></div>
                                <div class="tab-text"><p>Local</p></div>
                            </div>
                        </div>
                        <div class="nodiscoveries">
                            <lottie-player src="{%  static  'disc.json'  %}" background="transparent" speed="1.5" loop autoplay>
    	
                            </lottie-player>
                        </div>
                        <div class="inbox-wrap" style="background-color: aqua;">
                            <div class="table-head">
                                <p>Summary</p>
                            </div>
                            <div class="table-body">

                                <table id="summary-table">
                                    <tbody id="sum-body">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" integrity="sha512-L03kznCrNOfVxOUovR6ESfCz9Gfny7gihUX/huVbQB9zjODtYpxaVtIaAkpetoiyV2eqWbvxMH9fiSv5enX7bw==" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <script src="{% static 'common.js' %}"></script>
        <script src="{% static 'otherserver.js' %}"></script>
        <script>
            const host_url = '{{ host_url }}';
            // grabbing credentials from localStorage
            const username = localStorage.getItem("username");
            const password = localStorage.getItem("pwd");
            const uuid  = localStorage.getItem("uuid");
            followerArray = [];
            var displayName_cur;
            var github_cur;
            const dname = localStorage.getItem('displayName');
            $('.username p').append(dname);

            function getLoginUser(){
                $.ajax({
                    type: 'GET',
                    url: 'author/'+localStorage.getItem('uuid')+'/'
                })
                .done(function(data){
                    console.log("USER CREDENTIALS");
                    console.log(data)
                    displayName_cur = data.displayName;
                    github_cur = data.github;
                    localStorage.setItem("git",github_cur);
                });

            }

            if(localStorage.getItem('uuid') == null){
                //just view public post from rest of the
                console.log("this is meee "+localStorage.getItem('uuid'));
                
            }else{
                //retrieve signed in users post and assign authenticated user priviledges
                getLoginUser();
                //fetchFollowers();
            }
            $('.check-visibility,.vis-dropdown').mouseenter(function(){
                $('.vis-dropdown').show();
            });

            $('.check-visibility,.vis-dropdown').mouseleave(function(){
                $('.vis-dropdown').hide();
                document.getElementsByClassName('vis-authors')[0].style.display = "none";
            });


            $('.post-type-wrap,.post_type').mouseenter(function(){
                $('.post_type').show();
            });
            $('.post-type-wrap,.post_type').mouseleave(function(){
                $('.post_type').hide();
            });
            $('#post-input').click(function() {
                document.getElementsByClassName("tab-switch")[0].style.visibility = "hidden";
                document.getElementsByClassName('post-format')[0].style.display = "block";
            })
            $('#vis-input').click(function() {
                document.getElementsByClassName('vis-authors')[0].style.display = "block";

            })
            $('.signin-act').click(function() {
                document.getElementsByClassName('popup-auth')[0].style.display = "none";
                window.location.href = host_url;

            })
            $('.signup-act').click(function() {
                document.getElementsByClassName('popup-auth')[0].style.display = "none";
                window.location.href = host_url+"register";

            })
            document.getElementsByClassName('tab-public')[0].classList.add("current-tab");
            $('.tab-public').click(function() {
                $('.posted-wrap').remove();
                document.getElementsByClassName('nodiscoveries')[0].style.display = "block";
                document.getElementsByClassName('inbox-wrap')[0].style.display = "none";
                document.getElementsByClassName('tab-public')[0].classList.add("current-tab");
                document.getElementsByClassName('tab-inbox')[0].classList.remove("current-tab");
                //only need to fetch for rest of the world
                outsideserver();

            })

            $('.tab-inbox').click(function() {
                $('.posted-wrap').remove();
                document.getElementsByClassName('tab-public')[0].classList.remove("current-tab");
                document.getElementsByClassName('tab-inbox')[0].classList.add("current-tab");
                document.getElementsByClassName('nodiscoveries')[0].style.display = "none";
                fetchInboxMessages();
            })

            $('.post-preview').click(function() {
                document.getElementsByClassName("preview-body")[0].style.display = "inline-block";
                document.getElementsByClassName("initial-body")[0].style.display = "none";
                document.getElementsByClassName("post-preview")[0].style.background = "white";
                document.getElementsByClassName("post-raw")[0].style.background = "rgba(0,0,0,0)";
                document.getElementsByClassName("post-preview")[0].style.color = "rgba(0, 0, 0, 0.45)";
                document.getElementsByClassName("post-raw")[0].style.color = "cornflowerblue";
                var text = document.getElementById('p-r-text-input').value;
                //convert markdown to html
                var converter = new showdown.Converter();
                var md = '[**Showdown**](http://www.showdownjs.com) is *great*\n' +
                         'because:\n\n' +
                         ' - it\'s easy to use\n' +
                         ' - it\'s extensible\n' +
                         ' - works in the server and in the browser';
                var html = converter.makeHtml(text);
                document.getElementsByClassName('preview-body')[0].innerHTML += html;

            });
            $('.post-raw').click(function() {
                $('.preview-body').empty();
                document.getElementsByClassName("preview-body")[0].style.display = "none";
                document.getElementsByClassName("initial-body")[0].style.display = "inline-block";
                document.getElementsByClassName("post-preview")[0].style.background = "rgba(0,0,0,0)";
                document.getElementsByClassName("post-raw")[0].style.background = "white";
                document.getElementsByClassName("post-preview")[0].style.color = "cornflowerblue";
                document.getElementsByClassName("post-raw")[0].style.color = "rgba(0, 0, 0, 0.45)";
            });
            $('.close').click(function() {
                document.getElementsByClassName('post-format')[0].style.display = "none";
                document.getElementsByClassName("tab-switch")[0].style.visibility = "visible";
            });
            $('.p-close-img').click(function() {
                document.getElementsByClassName('p-close-img')[0].style.display = "none";
                $('#proimage').attr('src',"preview.png");

            });
            var openedcomments = [];
            function toggleComments(element){
                console.log(element)
                var commentblockid = "o-comment_"+element.id;
                if(!(openedcomments.includes(commentblockid))){
                    openedcomments.push(commentblockid);
                    document.getElementById(commentblockid).style.display = "inline-block";
                    console.log("comment opened")
                    console.log(openedcomments)
                    fetchcomment(element)
                }else{
                    const index = openedcomments.indexOf(commentblockid);
                    if (index > -1) {
                        openedcomments.splice(index, 1);
                    }
                    console.log(openedcomments)
                    document.getElementById(commentblockid).style.display = "none";
                    console.log("comment closed")
                }
            }

            var is_checked_listed = false;
            $('#checklist_listed').click(function() {
                if(!is_checked_listed){
                    document.getElementById('ch-listed').style.display = "flex";
                    is_checked_listed = true;
                }else{
                    document.getElementById('ch-listed').style.display = "none";
                    is_checked_listed = false;
                }
            });
            var postVisibility;
            var is_checked_friend = false;
            $('#vis-friends').click(function() {
                if(!is_checked_friend){
                    document.getElementById('ch-friends').style.display = "flex";
                    is_checked_friend = true;
                    postVisibility = "FRIENDS";
                }else{
                    document.getElementById('ch-friends').style.display = "none";
                    is_checked_friend = false;
                }
            });

            var is_checked_pub = false;
            $('#vis-pub').click(function() {
                if(!is_checked_pub){
                    document.getElementById('ch-pub').style.display = "flex";
                    is_checked_pub = true;
                    postVisibility = "PUBLIC";
                }else{
                    document.getElementById('ch-pub').style.display = "none";
                    is_checked_pub = false;
                }
            });
            var base64;
            $('#img-input').change(function () {
                selectedFile = event.target.files[0];
                console.log(selectedFile)
                var imageType = /image.*/;
                if (selectedFile.type.match(imageType)) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        console.log(e.target.result)
                        base64 = e.target.result;
                        $('#proimage').attr('src', e.target.result);
                        document.getElementsByClassName('p-close-img')[0].style.display = "flex";
                        $('form input').val("");
                };
                    reader.readAsDataURL(this.files[0]);
                }
            });
             // Creating new post
             $('.create-post').click(function() {
                
                if (is_auth_user() == true){
                    //user is signed in
                    var title = document.getElementById("p-title").value;
                    var description = document.getElementById("p-description").value;
                    var text = document.getElementById("p-r-text-input").value;
                    var checked = document.getElementById("l-ul").checked ? "False" : "True";
                    // var cttn = base64 ? text : base64;
                    var cttn = text;

                    const data = {
                        'title':title,
                        'description':description,
                        'contentType':"text/plain",
                        'content':cttn,
                        'categories':["web","tutorial"],
                        'pageSize':1,
                        'visibility':$('#visibility_choice').val(),
                        'unlisted': checked
                    };

                    $.ajax({
                    type: 'POST',
                    headers: {
                        'Authorization': 'Basic ' + btoa(username+':'+password),
                        'Content-Type': 'application/json',
                    },
                    url: host_url + 'author/'+localStorage.getItem('uuid')+'/posts/', // TODO: should point to current user url
                    data: JSON.stringify(data),
                    })
                    .done(function(data){
                        document.getElementsByClassName('post-format')[0].style.display = "none";
                        console.log(data); // UUID of post
                        //insert post data to DOM
                        FillDOM(data,"hideFollow","unhideDel","unhideEdit",1);
                    });
                }else{
                    //display pop up asking to sign in or sign up;
                    alert("sign in or sign up to make a post");
                    document.getElementsByClassName('popup-auth')[0].style.display = "block";
                }
                
            });

            function fetchPublicPost(newflag){

                $.ajax({
                    type: 'GET',
                    url: host_url + 'posts/'
                })
                .done(function(data){
                    console.log(data.items); // UUID of post
                    var posts = data.items;
                    if(posts.length != 0){
                        for ( i = 0 ; i < posts.length; i++){
                            var data = posts[i];
                            var flag;
                            var delFlag;
                            var editFlag;
                            if(followerArray.includes(data.author.id)){
                                flag="hideFollow"
                            }else{
                                flag="showFollow"
                                //set a flag to handle follower logic
                            }

                            if(data.author.id == localStorage.getItem('uuid')){
                                flag="hideFollow";
                                delFlag = "unhideDel";
                                editFlag="unhideEdit";
                            }else{
                                delFlag= "hideDel";
                                editFlag="hideEdit";
                            }

                            //insert post data to DOM
                            FillDOM(data,flag,delFlag,editFlag,newflag)

                        }
                    }else{
                        //no public data exist

                    }
                });

            }

            function fetchFollowers(){
                //fetch followers of user and cross check with post in order to add "follow" feature to post
                $.ajax({
                    type: 'GET',
                    url: host_url + 'author/'+localStorage.getItem('uuid')+'/followers/'
                })
                .done(function(data){
                    console.log(data.items);
                    const followersRes =  data.items;
                    for(i=0;i < followersRes.length; i++){
                        followerArray.push(followersRes[0].id)
                    }
                    fetchPublicPost(0);
                   
                });
            }
            var arrayOfRequests = [];
            function checkFollowrequest(){
                $.ajax({
                    type: 'GET',
                    url: host_url + 'author/'+localStorage.getItem('uuid')+'/inbox/'
                })
                .done(function(data){
                    console.log(data)
                    console.log("IN check follow request");
                    var requests = data.items;
                    for(i=0;i < requests.length; i++){
                        arrayOfRequests.push(requests[0].id)
                    }
                });
            }

            // only fetches local posts
            // TODO: change names later
            function fetchInboxMessages(){
                $('#sum-body').empty();
                fetchPublicPost(0);
            }


            function FillDOM(data,flag,deleteFlag,editFlag,newflag){
                var like_c;
                if(newflag == 1){
                    //newly added post
                    like_c = 0;
                    addnewpost(data,flag,deleteFlag,editFlag,like_c)
                }else{
                    persistLikes(data.author.id,data.post_id,data,flag,deleteFlag,editFlag);
                }


            }
            //likepost
            function likepost(element){
                if (is_auth_user() == true){
                    var postid= (element.id).slice(6);

                    //get author id
                    var arr = (element.className).split(' ');
                    var extract = arr[1];
                    fid = extract.slice(6);
                    data = {
                        "type":"like",
                        "author":{
                            'id':host_url+"author/"+localStorage.getItem('uuid'),
                            'type':'author',
                            'host':host_url,
                            'displayName':displayName_cur,
                            'url':host_url+"author/"+localStorage.getItem('uuid'),
                            'github':github_cur
                        },
                        "object":host_url+"author/"+fid+"/posts/"+postid
                    }
                    $.ajax({
                        type:"POST",
                        contentType: "application/json",
                        data:JSON.stringify(data),
                        url: host_url + 'author/'+fid+'/inbox/'
                    })
                    .done(function(data){
                        //increment count
                        var countvaljunk = document.getElementsByClassName("like_row"+postid)[0].innerHTML += 1;
                        var countval = + countvaljunk.slice(0, -6)
                        countval+=1;
                        document.getElementsByClassName("like_row"+postid)[0].innerHTML = countval + " likes";
                    })

                }else{
                    //alert("sign in or sign up to like a post");
                    document.getElementsByClassName('popup-auth')[0].style.display = "block";
                }
            }
            //persist likes
            function persistLikes(author_id,post_id,data,flag,deleteFlag,editFlag){
                var res_like_count;
                console.log(author_id)
                console.log("problem")
                $.ajax({
                    type: 'GET',
                    url: 'author/'+author_id+'/posts/'+post_id +"/likes"
                })
                .done(function(d){
                    var like_c = d.items.length;
                    if(localStorage.getItem('uuid') != null){
                        persistFollowStats(localStorage.getItem('uuid'),data,flag,deleteFlag,editFlag,like_c);
                    }else{
                        insertPost("Follow",data,flag,deleteFlag,editFlag,like_c);
                    }
                });

            }

            function addnewpost(data,flag,deleteFlag,editFlag,like_c){
                const postHTML =  `<div class="posted-wrap">
                    <div class="posted-w-h" >
                        <div class="p-w-h-details" style="width:calc(100%-160px)">

                            <div class="p-profile-wrap">
                                <div class="p-profile">
                                </div>

                            </div>
                            <div class="p-user-wrap">
                                <p>${data.author.displayName}</p>
                            </div>
                            <p class="follow-user ${data.author.id}" id="${flag}" onclick="followUser(this)">Follow</p>
                        </div>
                        <div class="del-post ${deleteFlag}"  id="${data.post_id}" onclick="deletePost(this)">
                            <i class="material-icons" style="color:rgba(0,0,0,0.45)">delete_outline</i>
                        </div>
                        <div class="edit-post ${editFlag}">
                            <i class="material-icons" style="color:rgba(0,0,0,0.45)">mode</i>
                        </div>
                        <div class="outside-post">
                            <i class="material-icons" style="color:rgba(0,0,0,0.45)">travel_explore</i>
                        </div>
                    </div>
                    <div class="p-title-wrap">
                        <h3>${data.title}</h3>
                    </div>
                    <div class="post-text">
                        <p>${data.content}</p>
                    </div>
                    <div class="posted-img-wrap">
                        <img src="{%  static  'assets/preview.png'  %}" id="proimage">
                    </div>
                    <div class="like-count-w">
                        <p id="like-count" class="${"like_row"+data.post_id}">${like_c + " likes"}</p><p id="${"comment-count_"+data.post_id}">${data.commentCount} comments</p">
                    </div>
                    <div class="social-controls">

                        <div class="like-w ${"thumb_"+data.author.id}" onclick="likepost(this)" id="${"thumb_"+data.post_id}">
                            <div class="s-c-img">
                                <i class="material-icons">thumb_up</i>
                            </div>
                            <p>Like</p>
                        </div>
                        <div class="comment-w" onclick="toggleComments(this)" id="${data.post_id}">
                            <div class="s-c-img">
                                <i class="material-icons">comment</i>
                            </div>
                            <p>Comment</p>
                        </div>
                        <div class="share-w">
                            <div class="s-c-img">
                                <i class="material-icons">share</i>
                            </div>
                            <p>Share</p>
                        </div>
                    </div>
                    <div class="o-comments" id="${"o-comment_"+data.post_id}">
                        <div class="o-c-cell">
                            <div class="oc-profile">

                            </div>
                            <div class="o-type-comment">
                                <input type="text" placeholder="Type your comments here" id="${"comment_input"+data.post_id}">
                            </div>
                            <div class="send-comment" onclick="addcomment(this)" id="${data.post_id}">
                                <i class="material-icons" style="color:white">send</i>
                            </div>
                        </div>
                        <div class="o-r-cell" id="${"comment_cell"+data.post_id}">

                        </div>
                    </div>
                </div>`;
                $(".post-feed").append(postHTML);
            };

            function followUser(curTag){
                if (is_auth_user() == true){
                    console.log("tapped follower tag")
                    var arr = (curTag.className).split(' ');
                    fid = arr[1];
                    console.log(fid);
                    followRequest(fid,curTag)
                }else{
                    //alert("sign in or sign up to send a friend request")
                    document.getElementsByClassName('popup-auth')[0].style.display = "block";
                }

            }

            function followRequest(fid,curTag){
                data = {
                    "type":"follow",
                    "author_id":{
                        'id':localStorage.getItem('uuid'),
                        'type':'author',
                        'host':host_url,
                        'displayName':displayName_cur,
                        'url':host_url+"author/"+localStorage.getItem('uuid'),
                        'github':github_cur
                    }

                }
                console.log(host_url)
                $.ajax({
                    type:"POST",
                    contentType: "application/json",
                    data:JSON.stringify(data),
                    url: host_url + 'author/'+fid+'/inbox/'
                })
                .done(function(data){
                    //MANIPULATE DOM
                    console.log(data);
                    curTag.innerHTML = "Request Sent";
                    replaceall(fid)
                });
            }

            //replaces all follow request links of a particular user to "request sent"
            function replaceall(fid,curTag){
                $('.'+fid).each(function(i, obj) {
                    //test
                    console.log(obj)
                    obj.innerHTML = "Request Sent";
                });
            }
            //persist follow status on each public post
            function persistFollowStats(fid,data,flag,deleteFlag,editFlag,like_c){
                //to do:
                $.ajax({
                    type: 'GET',
                    url: host_url + 'author/'+data.author.id+'/followers/'+fid
                })
                .done(function(dd){
                    console.log("IN persistent follow stats");
                    console.log(dd);
                    var requestnotaccepted = dd.accepted;
                    console.log(requestnotaccepted);
                    var followstats;
                    if(requestnotaccepted == true){
                        followstats="accepted";
                    }else if (requestnotaccepted == false){
                        followstats="Request Sent";
                    }else{
                        followstats="Follow";
                    }
                    insertPost(followstats,data,flag,deleteFlag,editFlag,like_c);
                });
            }
            function insertPost(fs,data,flag,deleteFlag,editFlag,like_c){
                var followstats = fs;
                const postHTML =  `<div class="posted-wrap">
                    <div class="posted-w-h" >
                        <div class="p-w-h-details">

                            <div class="p-profile-wrap">
                                <div class="p-profile">
                                </div>
                            </div>
                            <div class="p-user-wrap">
                                <p>${data.author.displayName}</p>
                            </div>
                            <p class="follow-user ${data.author.id}" id="${flag}" onclick="followUser(this)">${followstats}</p>
                        </div>
                        <div class="del-post ${deleteFlag}"  id="${data.post_id}" onclick="deletePost(this)">
                            <i class="material-icons" style="color:rgba(0,0,0,0.45)">delete_outline</i>
                        </div>
                        <div class="edit-post ${editFlag}">
                            <i class="material-icons" style="color:rgba(0,0,0,0.45)">mode</i>
                        </div>
                    </div>
                    <div class="p-title-wrap">
                        <h3>${data.title}</h3>
                    </div>
                    <div class="post-text">
                        <p>${data.content}</p>
                    </div>
                    <div class="posted-img-wrap">
                        <img src="{%  static  'assets/preview.png'  %}" id="proimage">
                    </div>
                    <div class="like-count-w">
                        <p id="like-count" class="${"like_row"+data.post_id}">${like_c + " likes"}</p><p id="${"comment-count_"+data.post_id}">${data.commentCount} comments</p">
                    </div>
                    <div class="social-controls">

                        <div class="like-w ${"thumb_"+data.author.id}" onclick="likepost(this)" id="${"thumb_"+data.post_id}">
                            <div class="s-c-img">
                                <i class="material-icons">thumb_up</i>
                            </div>
                            <p>Like</p>
                        </div>
                        <div class="comment-w" onclick="toggleComments(this)" id="${data.post_id}">
                            <div class="s-c-img">
                                <i class="material-icons">comment</i>
                            </div>
                            <p>Comment</p>
                        </div>
                        <div class="share-w">
                            <div class="s-c-img">
                                <i class="material-icons">share</i>
                            </div>
                            <p>Share</p>
                        </div>
                    </div>
                    <div class="o-comments" id="${"o-comment_"+data.post_id}">
                        <div class="o-c-cell">
                            <div class="oc-profile">

                            </div>
                            <div class="o-type-comment">
                                <input type="text" placeholder="Type your comments here" id="${"comment_input"+data.post_id}">
                            </div>
                            <div class="send-comment" onclick="addcomment(this)" id="${data.post_id}">
                                <i class="material-icons" style="color:white">send</i>
                            </div>
                        </div>
                        <div class="o-r-cell" id="${"comment_cell"+data.post_id}">

                        </div>
                    </div>
                </div>`;
                $(".post-feed").append(postHTML);
            }

            function deletePost(curDel){
                console.log(curDel.id)
                console.log($('#'+curDel.id).parents('[class]:eq(1)'));
                //get the first parent div wrapping the delete button
                $.ajax({
                    type: 'DELETE',
                    headers: {
                        'Authorization': 'Basic ' + btoa(username+':'+password),
                    },
                    url: host_url + 'author/'+localStorage.getItem('uuid')+'/posts/'+curDel.id+'/',
                }).done(function(data){
                    $('#'+curDel.id).parents('[class]:eq(1)').remove();
                    console.log('deleted');
                });

            }

            //handlinf comments
            function addcomment(element){
                if (is_auth_user() == true){
                    var pid = element.id;
                    console.log(pid)
                    var textfield = document.getElementById("comment_input"+pid).value;
                    if(textfield == ""){
                        return
                    }
                    console.log(textfield)
                    data = {
                        "type":"comment",
                        "author":{
                            'id':host_url+"author/"+localStorage.getItem('uuid'),
                            'type':'author',
                            'host':host_url,
                            'displayName':displayName_cur,
                            'url':host_url+"author/"+localStorage.getItem('uuid'),
                            'github':github_cur
                        },
                        "contentType":"text/plain",
                        "comment":textfield
                    }
                    console.log(host_url);
                    console.log("uuid is : "+localStorage.getItem('uuid'));
                    $.ajax({
                        type:"POST",
                        headers: {
                            'Authorization': 'Basic ' + btoa(username+':'+password),
                        },
                        contentType: "application/json",
                        data:JSON.stringify(data),
                        url:host_url+"author/"+localStorage.getItem('uuid')+"/posts/"+pid+"/comments/"
                    })
                    .done(function(data){
                        //MANIPULATE DOM
                        console.log(data);

                        var c_cell = `<div class="o-r-details">
                            <p>${textfield}</p>
                            <div class="c-p-wrap">
                                <div class="comment-profile"> <i class="material-icons" style="color:cornflowerblue;">sentiment_satisfied_alt</i></div><p><span>${displayName_cur}</span></p>
                            </div>
                        </div>`
                        $("#comment_cell"+pid).append(c_cell);
                        var commentlabel = document.getElementById("comment-count_"+pid).innerHTML;
                        var countvalarr = commentlabel.split(" ");
                        var countval;
                        countval = + countvalarr[0];
                        countval+=1;
                        console.log(commentlabel);
                        document.getElementById("comment_input"+pid).value = ""
                        document.getElementById("comment-count_"+pid).innerHTML = countval + " comments";

                    });
                }else{
                    //alert("sign in or sign up to comment on a post");
                    document.getElementsByClassName('popup-auth')[0].style.display = "block";
                }
            }

            function fetchcomment(element){
                var pid = element.id;
                $.ajax({
                    type:"GET",
                    url:host_url+"author/"+localStorage.getItem('uuid')+"/posts/"+pid+"/comments/"
                })
                .done(function(data){
                    //MANIPULATE DOM
                    console.log(data.items);
                    getCommentlikes_local(data.items,element);
                });
            }
            function is_auth_user(){
                if(localStorage.getItem('uuid') == null){
                    //just view public post
                    return false;
                }else{
                    return true;
                }
            }
            
            async function getCommentlikes_local(data,element){
                for(i=0;i<data.length;i++){ 
                   var clean_comment_id = data[i].comment_id;
                   var userid_clean = (data[i].author_id.url).split("/");
                   userid_clean = userid_clean[userid_clean.length - 1];
                   console.log("--------");
                   console.log(clean_comment_id);
                   console.log(userid_clean);
                   try{
                       await $.ajax({
                           type: 'GET',
                           url:host_url+ 'author/'+userid_clean+'/posts/'+element.id+"/comments/"+clean_comment_id+"/likes/"
                       })
                       .done(function(commentarray){
                            console.log("inside comment array");
                            console.log(commentarray);
            
                                var comment = data[i].comment;
                                var commentlikes =  commentarray.items.length;
                                console.log(commentarray.items);
                                
                                var c_cell = `
                                <div class="o-r-details">
                                    <p><span>${data[i].author_id.displayName}</span> ${comment}</p>
                                    <div class="c-p-wrap">
                                        <div class="comment-like-wrap ${userid_clean} ${clean_comment_id} ${element.id}" onclick="like_comment_local(this)"><p>Like</p></div><div class="comment-profile"><i class="material-icons" style="color:white;font-size:12px;">thumb_up</i></div><div class="comment-like-num"><p id="com-like_${clean_comment_id}">${commentlikes}</p></div><div class="comment-tzone"><p>${data[i].published.split("T")[0]}</p></div></div>
                                    </div>
                                </div>`;
                                $("#comment_cell"+element.id).append(c_cell);      
                       });
                   }catch{
           
                   }     
                }
           }
           
            //likepost
            function like_comment_local(element){
                
                    if (is_auth_user() == true){
                        console.log("like_post func called")
                        var post_owner_id = element.className.split(" ")[1];
                        var commentID = element.className.split(" ")[2];
                        var postID = element.className.split(" ")[3];

                        console.log("commenter id : "+post_owner_id);
                        console.log("comment id : "+commentID);
                        console.log("post id : "+postID);
                    
                        data = {
                            "author_id":
                            {
                                "author_id":localStorage.getItem('uuid'), 
                                "host":host_url,
                                "displayName":displayName_cur,
                                "url":host_url+"author/"+localStorage.getItem('uuid'),
                                "github":github_cur
                            }
                        }
                        $.ajax({
                            type:"POST",
                            contentType: "application/json",
                            data:JSON.stringify(data),
                            url:host_url+"author/"+post_owner_id+"/posts/"+postID+"/comments/"+commentID+"/likes/"
                        })
                        .done(function(data){
                            //increment count
                            console.log(data);
                            var countvaljunk = document.getElementById("com-like_"+commentID).innerHTML;
                            var countval = + countvaljunk;
                            countval+=1;
                            document.getElementById("com-like_"+commentID).innerHTML = countval;
                        })

                    }else{
                        //alert("sign in or sign up to like a post");
                        document.getElementsByClassName('popup-auth')[0].style.display = "block";
                    }

            }
                        




        </script>
    </body>
</html>
