{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{%  static  'css/login.css'  %}">
    <title>Login</title>

  </head>
  <body>
    <div class="container">
      <div class="wrap-login">
        <form class="login-form" action="login.html" method="post">
          <span class="login-form-title">Login</span>
          <span class="login-l">Username</span>
          <div class="wrap-input">
            <input type="text" name="username" value="">
          </div>
          <span class="login-l">Password</span>
          <div class="wrap-input">
            <input type="text" name="password" value="" >
          </div>
          <div class="" style="margin-bottom:10px">
            <a href="{% url 'register' %}" style="color:black">Register</a>
          </div>
          <div class="wrap-button">
            <button type="submit" name="button">Login</button>
          </div>
        </form>
      </div>
    <div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
      <script type="text/javascript">

      const host_url = '{{ host_url }}';
      const data = {
        'password': $('input[name=password]').val(),
        'username': $('input[name=username]').val(),
      };
      console.log(data);
      $('.login-form').submit(function(e) {
        $.ajax({
          headers: {
            "Authorization": "Basic " + btoa(data.username + ":" + data.password)
          },
          url: host_url + 'login/',
        })
          .done(function(data){
            console.log(data); // UUID of post
            window.location.href = host_url + 'home';
          });

          e.preventDefault();
      });

      </script>
  </body>

</html>
