<div class="vertical-nav">
    <div class="server-main">
        <div class="menu-list-wrap">
          <div class="menu-list-profile"><p class="ln_username"></p></div>
          <div class="menu-list-cell">
              <div class="menu-l-img"><i class="material-icons" style="color:cadetblue"><a href="#"></a>stream</i></div>
              <div class="menu-l-text"><p><a href="{% url 'home' %}" style="text-decoration:none;color:black;display:block">Stream</a></p></div>
          </div>
          <div class="menu-list-cell">
              <div class="menu-l-img"><i class="material-icons" style="color:cornflowerblue">face</i></div>
              <div class="menu-l-text"><p><a href="{% url 'profile' %}" style="text-decoration:none;color:black;display:block">Profile</a></p></div>
          </div>
          <div class="menu-list-cell">
              <div class="menu-l-img"><i class="material-icons" style="color:coral">people</i></div>
              <div class="menu-l-text"><p><a href="{% url 'friends' %}" style="text-decoration:none;color:black;display:block">Friends</a></p></div>
          </div>
          <div class="menu-list-cell">
              <div class="menu-l-img"><i class="material-icons" style="color:chocolate">today</i></div>
              <div class="menu-l-text"><p><a href="{% url 'gitactivity' %}" style="text-decoration:none;color:black;display:block">Git Activity</a></p></div>
          </div>
        </div>
    </div>
</div>
