<div class="nav-w">
  <div class="nav-bar">
    <div class="logo">
      <p>Social Distribution</p>
    </div>
    <div class="notification">
      <a href="{% url 'inbox' %}"><i class="material-icons msg" style="color:cornflowerblue">mark_email_unread</i></a>
    </div>
    <div class="options" style="display: flex;align-items: center;">
      <!-- <div class="w_username"><p class="tn_username" style="margin-right:20px;"></p></div> -->
      <div class="logout"><a class=""><i class="material-icons logout_btn" style="color:cornflowerblue;cursor:pointer">power_settings_new</i></a></div>
    </div>
  </div>
</div>
