<div class="nav-w">
  <div class="nav-bar">
    <div class="logo">
      <p>Social Distribution</p>
    </div>
    <div class="notification">
      <a href="{% url 'inbox' %}"><i class="material-icons msg" style="color:cornflowerblue">mark_email_unread</i></a>
    </div>
    <div class="options" style="display: flex;align-items: center">
      <div class="search-container" style="display: flex; margin-right: 50px;"> <!-- css is in frame_.css -->
        <input type="text" placeholder="Search..">
        <button id="search"><i class="material-icons">search</i></button>
      </div>
      <div class="logout"><a class=""><i class="material-icons logout_btn" style="color:cornflowerblue;cursor:pointer">power_settings_new</i></a></div>
    </div>
  </div>
</div>
